<form [formGroup]="usuarioForm">
  <div class="mb-3 col">
    <input class="form-control" formControlName="name" ngDefaultControl type="text" placeholder="Nome">
    <small *ngIf="usuarioForm.controls.name.invalid && usuarioForm.controls.name.dirty" style="color: red">Obrigatório!</small>
  </div>

  <div class="mb-3 col">
    <input class="form-control" formControlName="cpf" ngDefaultControl type="text" mask="000.000.000-00" placeholder="CPF do usuario">
    <small *ngIf="usuarioForm.controls.cpf.invalid && usuarioForm.controls.cpf.dirty" style="color: red">Obrigatório!</small>
  </div>

  <div class="mb-3 col">
    <input class="form-control" formControlName="email" ngDefaultControl type="email" placeholder="Email do usuario">
    <small *ngIf="usuarioForm.controls.email.invalid && usuarioForm.controls.email.dirty" style="color: red">Obrigatório!</small>
  </div>

  <div class="mb-3 col">
    <input class="form-control" formControlName="password" ngDefaultControl type="password" placeholder="Senha do usuario">
    <small *ngIf="usuarioForm.controls.password.invalid && usuarioForm.controls.password.dirty" style="color: red">Senha requerida e deve ser maior que 8 caracteres!</small>
  </div>

    <div class="mb-3 col">
      <label for="exampleFormControlSelect1">Admin</label>
      <select class="form-control" formControlName="is_admin" ngDefaultControl>
        <option>Sim</option>
        <option>Não</option>
      </select>
    </div>

  <div class="mb-3">
    <button type="button" (click)="onSubmit()" [disabled]="!usuarioForm.valid" class="btn btn-primary">Inserir usuário</button>
  </div>
  <a routerLink="/usuarios/listar" class="btn btn-link">Cancelar</a>

</form>

